* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 10px;
}

.body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
}

.header,
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: cornflowerblue;
    height: 4rem;
    font-size: 2rem;
}

.header {
    & a {
        text-decoration: none;
        color: white;
    }
}

.todoPage {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2rem;
}
